<!-- <%= render "shared/navbar" %> -->

<main class="main-page-container">
  <p style="color: green"><%= notice %></p>

  <h1>Welcome to the Buget Tracker App</h1>

  <p>This Application will help you track all of the expenses you make in different cateogires, in order for you to have a better management of your economy</p>

  <i class="fa-solid fa-magnifying-glass-dollar fa-6x"></i>
</main>

<footer>

</footer>