.navbar {
  background-color: #3778c2;
}

.navbar-toggler {
  background-color: #fff;
}
.navbar-brand,
.nav-link,
.active {
  color: #fff;
}

.sign-out-btn {
  border: none;
  background-color: transparent;
}